body {
    font-family: "Poppins", sans-serif;
    background: #f7f3ee;
}

.metrics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

..metric-card {
    background: white;
    padding: 25px;
    border-radius: 22px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.metric-card:hover {
    transform: translateY(-5px);
}

.metric-card h4 {
    color: #777;
    margin-bottom: 10px;
    font-size: 14px;
}

.metric-card h2 {
    font-size: 32px;
}

.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.card h3 {
    margin-bottom: 20px;
}

.log-item,
.comment-item {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.log-item:last-child,
.comment-item:last-child {
    border-bottom: none;
}

.chart-container {
    width: 100%;
    height: 300px;
}
